<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bestapps.trendingvideos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
             android:name=".common.GlobalApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:hardwareAccelerated="false"
            android:largeHeap="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
                android:name=".MainActivity"
                android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>
                <data
                        android:host="open"
                        android:scheme=" " />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- Branch URI Scheme -->
            <intent-filter>
                <data android:scheme="androidexample" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <!-- Branch App Links (optional) -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="trendingvideos.app.link" />
                <data android:scheme="https" android:host="trendingvideos-alternate.app.link" />
                <data android:scheme="https" android:host="s3.amazonaws.com" />
            </intent-filter>
        </activity>
        <activity
                android:name=".VideoActivity"
                android:configChanges="orientation|screenSize|keyboardHidden">

            <!-- android:screenOrientation="landscape"> -->
        </activity>

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_fgTqn0eHO5vrZ1moUrAQ0mjiyAp5hNSk" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_oiOsjXjKS0sF8XmeQqrQZnjaryf9oTLq" />

        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

        <!-- Branch install referrer tracking (optional) -->
        <receiver android:name="io.branch.referral.InstallListener" android:exported="true" android:permission=""
                  tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

    </application>

</manifest>